.git/
.gitee/
.gitcode/
.vscode/
.idea/
.cache/

build/
bin/
target/

# native
native/build/
native/.vscode/

# test build artifacts
test/native/build/
target/release/ut/
target/release/llt/

#log
log.*

# ci_test/
ci_test/ci_src/
ci_test/test_temp/
ci_lib/
output/

*.gcda*
*.gcno*

#cjpm build
cjpm.lock
*.cjo
*.cjt
*.macrocall
module-resolve.json